

<style>
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
    header{
        position: fixed;
        z-index: 10000;
        
    }

</style>
<header>
    <div class="logo">Web bag</div>
    <nav>
        <a href="/">الرئيسية</a>
        <a href="/memberships">الباقات</a>
        <a href="/contact">تواصل</a>
        <a href="/login">تسجيل دخول</a>
        <a href="/order">انشاء موقعك</a>
    </nav>
</header>