.root-wrapper{
    display: grid;
    grid-template-rows: 10% 30%;
    padding: 0;
    
    /* background-image: url("../images/web-dev-pes.jpg");
    background-size: 100% auto;
    height: 1000px;
    background-repeat: no-repeat; */
}
.subject{
    display: grid;
    padding-left: 70%;
    padding-top: 7%;
    color: white;
    padding-left: 0%;
    margin-top: -150px;
    font-size: 25px;
    
}
.subject h1{
    text-align: center;
    
}
/* .subject button{
    display: inline-block;
    background-color: gold;
    border-radius: 10px;
    border: 0;
    font-size: 20px;
    font-weight: 500;
    margin-left: 150px;
    width: 150px;
   
} */

.image img{
    width:100%;
    height: 700px;
}

@media (max-width:800px){
    .root-wrapper{
        grid-template-rows: 0 0;
        padding: 0;
        
    }
    .image img{
        width:100%;
        height: 400px;
      /* padding-top:70%; */
      
    }
    .subject{
        text-align: center;
       padding: 0; /* DON'T CHANGE IT ITS HERE TO AVOIDE SUBJECT GO OUT OF THE SCREEN*/
        margin-top: 30px;
    }
    .subject h1{
        padding-bottom: 20px;
    }

    
    
}
