.third-slide-main-wrapper{
    display: grid;
    grid-template-columns: repeat(2,200px);
    align-content: space-between;
    background-color: #f7e05f;
    height: 100%;
    padding-top: 10%;
    margin-top: 70px;
    padding-bottom: 80px;
}

.subject-three{
    position: absolute;
  padding-left: 55%;
}

.subject-three h1{
    font-size: 50px;
    margin-left: 60%;
}

.subject-three p{
    margin-top: 10%;
    margin-right: 5%;
    font-size: 30px;
}

@media (max-width:800px){
    .third-root-wrapper{
        padding-top: 36%;
    
    }
    .third-slide-main-wrapper{
        grid-template-columns: repeat(2,100px);
        padding-bottom: 300px;

    }
    .third-slide-image img{
        height: auto;
        width: 300px;
    }

    .subject-three{
        
        padding: 0;
        margin-top: 300px;
        margin-right: 200px;
        padding-left: 10px;
        
    }
    .subject-three h1{
        width: 100%;
        font-size: 26px;
        text-align: center;
    }
    .subject-three p{
        width: 200%;
        font-size: 23px;
        text-align: center;
        
    }
}
